body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
.filterContainer{
  display: flex;
  width: 50%;
  margin-top:  10px; 
  background-color: azure;
 
  
}
.logo-movies{ 
  margin: 10px ;
  width: 80px;
  height: 70px;
  
} 
.MovieListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10%;
  column-gap: 5%;
}
.RateContainer button {
background-color: black;
border: none;

}
.fa-star{
  color:gold;
}